
/* mobile-first design */
/* grid structure styling */

body {
  background-color: turquoise;
  font-family: "roboto condensed", sans-serif;
  font-weight: 300;
  color: #2f4f4f;
}

h1 h2 {
  font-family: roboto, sans-serif;
  font-weight: 300;
  color: #2f4f4f;
  text-transform: capitalize;
  letter-spacing: 3px;
}

h2 {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 100%;
}

h3 {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 100%;
}

p {
  font-family: roboto, sans-serif;
  padding: 10px;
  line-height: 30px;
}

img {
  max-width: 100%;
}

#container {
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-rows: 300px 400px 200px 200px;
    grid-gap: 10px 10px;
    padding: 10px;
  }
  #game-header {
    background: whitesmoke;
    grid-row: 1; 
    padding: 10px;
  }

  #game-area {
    background: whitesmoke;
    grid-row: 2; 
    padding: 10px;
    /* width: 400px;
    height: 600px; */
  }

  #game-rules {
    background: whitesmoke;
    grid-row: 3; 
    padding: 10px;
  }

  #footer-social {
    background: whitesmoke;
    grid-row: 4; 
    padding: 10px;
  }

#game-image {
  /* width: 300px;
  height: 300px; */
}

#game-input {}

#game-btn {}

#game-message {}

#next-btn {}

#score {}

#user-score {}

#start-btn {}




  /* tablet view */


  /* desktop view */